.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.imageGallery {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

.image {
  margin: 10px;
}

.custom-button {
  background-color: #005021;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.custom-button:hover {
  background-color: #0056b3;
}

.custom-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.3);
}

.custom-button:active {
  background-color: #004080;
}